<app-head></app-head>
<div id="cont" class="content" [@content]="sidebarState">
  <div class="container">
    <div class="col-lg-6">
      <h1>
        {{currentCourse.code}}
      </h1>
      <button type="button" class="btn" id="createNewAssignment" [routerLink]="['/courses', currentCourse.id, 'createNewAssignment']">Create New Assignment</button>
      <button type="button" class="btn" (click)="openModal(inviteStudentModal)">Invite student to course</button>

      <markdown [data]="currentCourse.course_info"></markdown>

      <app-mod-progressbar [progress]="getProgress()"></app-mod-progressbar>

      <!--<app-mod-adventuremap ></app-mod-adventuremap>-->

      <div class="gamification-block panel panel-default" *ngIf="currentCourse.rewards.score !== false">
        <div class="panel-heading gamification-header">
          Score
        </div>
        <div class="panel-body">
          {{currentCourse.rewards.score}}
        </div>
      </div>

      <div class="gamification-block panel panel-default" *ngIf="currentCourse.rewards.badges !== false">
        <div class="panel-heading gamification-header">
          Badges
        </div>
        <div class="panel-body">
          <div *ngFor="let badge of currentCourse.rewards.badges">
            <div class="col-lg-3 fillBadge">
              <img src="../../assets/images/{{badge}}.png">
            </div>
          </div>
        </div>
      </div>

      <app-mod-leaderboard [courseCode]="currentCourse.id"></app-mod-leaderboard>
    </div>
    <div class="col-lg-6">
      <div *ngFor="let g of assignmentGroups">
        <app-assignment-group [assignmentGroup]="g" [courseCode]="currentCourse.id"></app-assignment-group>
      </div>
    </div>
  </div>

</div>
