<app-head></app-head>
<div id="cont" class="content" [@content]="sidebarState">
  <div class="container">
    <button type="button" (click)="toggleView()">Toggle</button>
    <!-- START of the student view -->
    <span *ngIf="teachCourses.indexOf(currentCourse) === -1; else testTemplate"> <!-- Could switch this do for ex a bool or something -->
      <!-- This view below is for students, the view for the teacher is in teacherView down below -->
      <div class="col-lg-6">
        <!-- Title of the student page-->
        <h1>
          <span *ngIf="currentCourse.code">{{currentCourse.code}} - </span> {{currentCourse.name}}
        </h1>
          <!-- Display the course description, markdown style -->
          <markdown [data]="currentCourse.course_info"></markdown>

          <!-- Feature progress bar -->
          <app-mod-progressbar [courseCode]="currentCourse.id"></app-mod-progressbar>

          <!-- Score board -->
          <div class="gamification-block panel panel-default" *ngIf="currentCourse.rewards.score !== false">
            <div class="panel-heading gamification-header">
              Score
            </div>
            <div class="panel-body">
              {{currentCourse.rewards.score}}
            </div>
          </div>
          <!-- Features, display if defined for course -->
          <app-mod-badges [courseCode]="currentCourse.id"></app-mod-badges>
          <app-mod-leaderboard [courseCode]="currentCourse.id"></app-mod-leaderboard>
          <app-mod-adventuremap-large [courseCode]="currentCourse.id"></app-mod-adventuremap-large>
      </div>
      <!-- Next column, for assignments group -->
      <div class="col-lg-6">
        <div *ngFor="let g of assignmentGroups">
          <app-assignment-group [assignmentGroup]="g" [courseCode]="currentCourse.id"></app-assignment-group>
        </div>
      </div>
      <!-- End of assignments group -->
    </span>
  </div>

  <!-- END of the student view, START of the teacher view -->
  <ng-template #teacherView>
    <h1>
      <span *ngIf="currentCourse.code">{{currentCourse.code}} - </span> {{currentCourse.name}}
    </h1>
    <button type="button" class="btn btn-primary" (click)="openModal(createBadge, 'createBadge')">Create badge</button>
    <div class="row">
      <!-- Display the course description, markdown style -->
      <div class="col-lg-8">
        <h3>Course
          <button type="button" class="glyph-button" [routerLink]="['/user/updateCourse', currentCourse.id]">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </h3>
        <markdown [data]="currentCourse.desc"></markdown>
        <br>
        <h3>Assignments</h3>
        <div class="row">
          <div class="col-lg-6">
            <h4>Groups
              <button class="glyph-button pull-right">
                <span class="option-text">CREATE GROUP</span>
              </button>
            </h4>
            <span *ngIf="assignmentGroups[0].groups.length === 0">
              No groups created yet...
            </span>
            <div *ngFor="let group of assignmentGroups[0].groups" class="assignment">
              {{group}}
            </div>
          </div>
          <div class="col-lg-6">
            <h4>Assignments
              <button class="glyph-button pull-right" [routerLink]="['/courses', currentCourse.id, 'createNewAssignment']">
                <span class="option-text">CREATE ASSIGNMENT</span>
              </button>
            </h4>
            <span *ngIf="assignmentGroups[0].assignments.length === 0">
              No assignments created yet...
            </span>
            <div *ngFor="let assignment of assignmentGroups[0].assignments" class="assignment">
              {{assignment.name}}
              <button type="button" class="glyph-button white-text pull-right">
                <span class="glyphicon glyphicon-edit" style="font-size: 1.2em;"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h4>Pending requests
          <button class="glyph-button pull-right" (click)="acceptAllReqs()">
            <span class="table-button-text">ACCEPT ALL</span>
          </button>
        </h4>
        <table class="table table-hover">
          <tbody>
          <tr *ngIf="pendingReqs && pendingReqs.length === 0">
            <td>No pending requests...</td>
          </tr>
          <tr *ngFor="let req of pendingReqs">
            <td>{{req.user['username']}}</td>
            <td><button type="button" class="glyph-accept" (click)="acceptReq(req.user['_id'])"><span class="glyphicon glyphicon-ok"></span></button></td>
            <td><button type="button" class="glyph-decline" (click)="declineReq(req.user['_id'])"><span class="glyphicon glyphicon-remove"></span></button></td>
          </tr>
          </tbody>
        </table>
        <br>
        <h4>Enrolled students
          <button class="glyph-button pull-right" (click)="openModal(inviteStudentModal)">
            <span class="table-button-text">ADD STUDENT</span>
          </button>
        </h4>
        <table class="table table-hover">
          <tbody>
          <tr *ngIf="currentCourse.students.length === 0">
            <td>No students are enrolled to this course...</td>
          </tr>
          <tr *ngFor="let student of currentCourse.students">
            <td>{{student.username}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- for end row -->
  </ng-template>
  <!-- Teacher view END -->

  <ng-template #testTemplate>
    <div *ngIf="teacherViewBool; else teacherView" class="col-lg-6">
      <h1>
        <span *ngIf="currentCourse.code">{{currentCourse.code}} - </span> {{currentCourse.name}}
      </h1>
      <!-- Display the course description, markdown style
      <markdown [data]="currentCourse.course_info"></markdown> -->
    </div>
  </ng-template>

</div>

<!-- Modal for invitation of student to course -->
<ng-template #inviteStudentModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Invite students</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <form (ngSubmit)="search()" [formGroup]="form" novalidate>
        <div class="form-group">
          <label for="search">Search term</label>
          <input type="text" class="form-control" id="search" formControlName="search" ngModel required>
        </div>
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
    <div class="modal-body">
      <div class="well-sm user-list" *ngFor="let p of possibleStudents">
        <div class="row">
          <div class="col-md-10">
            <h4>{{p.name}}</h4>
          </div>
          <div class="col-md-2"> <button class="btn" (click)="invite(p.id)">Invite</button> </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #createBadge>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create badge</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Select badge</h3>
    <div class="form-group">
      <select class="form-control" [(ngModel)]="selectedBadge">
        <option *ngFor="let badge of badges" [ngValue]="badge['key']">{{badge['name']}}</option>
      </select>
    </div>
    <div>
      <img src="../../assets/images/{{selectedBadge}}.png"/>
    </div>
    <label for="name">Name:</label>
    <input id="name" type="text" class="form-control" [(ngModel)]="badgeName">
    <label for="description">Description:</label>
    <input id="description" type="text" class="form-control" [(ngModel)]="badgeDescription">
    <h3>
      Add goals
    </h3>
    <div class="form-group">
      <div class="select-block" *ngFor="let selected of selectedAssignments; let i = index">
        <button class="glyphicon glyphicon-minus btn btn-danger select-remove" (click)="removeGoal(i)"></button>
        <select class="form-control select-list"  [(ngModel)]="selectedAssignments[i]['assignment']">
          <option *ngFor="let assignment of selected['possible']" [ngValue]="assignment">{{assignment.name}}</option>
        </select>
        <div class="tests row">
          <div *ngFor="let test of tests[selected.assignment['id']]; let j = index" class="pull-left test-box">
            <label class="label-norm form-check-label">
              <input class="form-check-input" [(ngModel)]="test['checked']" type="checkbox"> Test {{j+1}}
              <label type="button" class="question" tooltip="Stdin: {{test['stdin']}}, Stdout: {{test['stdout']}}, Args: {{test['args']}}">
                <span class="glyphicon glyphicon-question-sign"></span></label>
            </label>
          </div>
        </div>
        <div class="row"></div>
      </div>
      <button class="glyphicon glyphicon-plus btn btn-success" (click)="addGoal()"></button>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-right" (click)="submitBadge()">Submit</button>
  </div>
</ng-template>
