<app-head></app-head>
<div id="cont" class="content" [@content]="sidebarState">
  <div class="container">
    <div class="col-lg-6">
      <h1>
        This is course {{currentCourse.code}}
      </h1>
      <h2>
        Course Description
      </h2>
      <p>
        This will help you in this moment
        (Fetching ltu course page)
      </p>
      <div class="gamification-block panel panel-default" *ngIf="currentCourse.rewards.progress !== false">
        <div class="panel-heading gamification-header">
          Progress
        </div>
        <div class="panel-body">
          <div class="progress progress-margin">
            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="currentCourse.rewards.progress" aria-valuemin="0" aria-valuemax ="100"
                 [style.width]="currentCourse.rewards.progress + '%'">
            </div>
          </div>
        </div>
      </div>

      <div class="gamification-block panel panel-default" *ngIf="currentCourse.rewards.score !== false">
        <div class="panel-heading gamification-header">
          Score
        </div>
        <div class="panel-body">
          {{currentCourse.rewards.score}}
        </div>
      </div>

      <div class="gamification-block panel panel-default" *ngIf="currentCourse.rewards.badges !== false">
        <div class="panel-heading gamification-header">
          Badges
        </div>
        <div class="panel-body">
          <div *ngFor="let badge of currentCourse.rewards.badges">
            <div class="col-lg-3 fillBadge">
              <img src="../../assets/images/{{badge}}.png">
            </div>
          </div>
        </div>
      </div>

      <div class="gamification-block panel panel-default" *ngIf="currentCourse.rewards.leaderboard !== false">
          <div class="gamification-header panel-heading">
            Leaderboard
          </div>
          <div class="panel-body">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Score</th>
                </tr>
                </thead>
                <tbody *ngFor="let n of currentCourse.rewards.leaderboard">
                <tr>
                  <td> {{n.name}} </td>
                  <td> {{n.score}} </td>
                </tr>
                </tbody>
              </table>
          </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="gamification-block panel panel-default">
        <div class="panel-heading assignment-header" (click)="show.assignments = !show.assignments">
          Assignments
        </div>
        <div class="panel-body" [collapse]="show.assignments">
          <div [routerLink]="['/courses', currentCourse.code, 'assignment']" *ngFor="let n of assignments" class="assignment well">
            {{n}}
          </div>
        </div>
      </div>
      <div class="gamification-block panel panel-default" (click)="show.exercises = !show.exercises">
        <div class="panel-heading assignment-header">
          Exercises
        </div>
        <div class="panel-body" [collapse]="show.exercises">
          <div [routerLink]="['/courses', currentCourse.code, 'assignment']" class="assignment well" *ngFor="let n of exercises">
            {{n}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
