<link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
<script src="http://codemirror.net/lib/codemirror.js"></script>
<script src="http://codemirror.net/addon/edit/matchbrackets.js"></script>
<script src="http://codemirror.net/addon/edit/continuecomment.js"></script>
<script src="http://codemirror.net/mode/javascript/javascript.js"></script>

<app-head></app-head>
<div id="cont" class="content" [@content]="state">
<div id="main-wrap">
  <div id="header">
      <h1>D0009E - Introduktion till programmering</h1>
  </div>





  <div id="description">
    <!-- Description of the assignment -->
    <!-- Blog entry -->


    <h2>Assignment 1</h2>

    Skriv in följande program i textrutan:


    <codemirror [(ngModel)]="assignment" [config]="{lineNumbers: true, readOnly: true}"></codemirror>


    <!-- sample -->



    <h3>Assignment score: {{assignmentScore['assignment1']}}/10</h3>
  </div>
  <div id="inputField">

    <div>
      <codemirror [(ngModel)]="content" [config]="{lineNumbers: true}"></codemirror>
    </div>
    <!-- input field for assignment TODO: implement codeMirror -->


    <div id="submitBar">
      <input type="submit" value="test">
      <input (click)="submitCode()" type="submit" value="submit">
    </div>

    <!--<textarea id="code" name="code" rows="50" cols="90">
      // Demo code (the actual new parser character stream implementation)


    </textarea>-->

  </div>
  {{progress.current}}
</div>
</div>
