#description {
  margin: 1%;
  padding: 1%;
  height: 50vh;
  background-color: lightgray;
  float: left;
  width: 48%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
  overflow: scroll;
}

#codeExample {
  margin: 1%;
  padding: 0;
  height: 100%;
  text-align: left;
  background-color: lightgray;
  float: left;
  width: 90%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
}

#editor {
  height: 70vh;
  max-height:70vh;
  overflow: scroll;
}

#inputField {
  margin: 1%;
  padding: 0;
  height: 70vh;
  background-color: lightgray;
  float: right;
  width: 48%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
}

#feedback {
  margin: 1%;
  padding: 1%;
  height: 20vh;
  overflow: auto;
  background-color: lightgray;
  float: left;
  width: 48%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
}


#submitBar{
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
  text-align: right;
}

#inputField input[type="submit"] {
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

#footer {
  text-align: center;
  padding: 1em;
  color: white;
  /*background-color: darkgray;*/
  clear: left;
  text-align: center;
}

#login {

  width: 400px;
  height: 300px;
  position: absolute;

}

#codesize {
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropbtn {
  background-color: #133756;
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  bottom: 100%;
}
