#description {
  margin: 1%;
  padding: 0;
  height: 100%;
  background-color: lightgray;
  float: left;
  width: 48%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
}

#inputField {
  margin: 1%;
  padding: 0;
  height: 100%;
  background-color: lightgray;
  float: right;
  width: 48%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
}

#submitBar{
  text-align: right;
}

#inputField input[type="submit"] {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

#header, #footer {
  text-align: center;
  padding: 1em;
  color: white;
  background-color: darkgray;
  clear: left;
  text-align: center;
}

#login {

  width: 400px;
  height: 300px;
  position: absolute;

}
