<link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
<script src="http://codemirror.net/lib/codemirror.js"></script>
<script src="http://codemirror.net/addon/edit/matchbrackets.js"></script>
<script src="http://codemirror.net/addon/edit/continuecomment.js"></script>
<script src="http://codemirror.net/mode/javascript/javascript.js"></script>

<app-head></app-head>
<div id="cont" class="content" [@content]="sidebarState">
<div id="main-wrap">
  <div id="header">
      <h1>D0009E - Introduktion till programmering</h1>
  </div>


  <div id="feedback">

    <div id="points">
      <h2>Status: {{status}}</h2>
    </div>

    <div>
      {{progress.current}}
    </div>

    <div class="progress progress-margin">
      <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="progress['current']" aria-valuemin="0" aria-valuemax ="10"
           [style.width]="progress['current']*10 + '%'">
      </div>
    </div>

    <!-- Should contain the results of test/feedback -->

  </div>



  <div id="inputField">


      <!--<codemirror [(ngModel)]="content" [config]="{lineNumbers: true}"></codemirror>-->
    <div ace-editor [(text)]="content" [mode]="'python'" [theme]="theme" [options]="{maxLines: 1000, printMargin: false}" [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000"  style="min-height: 100%; width:100%; overflow: auto;"> </div>

    <div id="submitBar">

      <div class="dropdown" style="float:left;">
        <button class="dropbtn">Language: {{language}}</button>
        <div class="dropdown-content" style="left:0;">
          <a>python</a>
        </div>
      </div>

      <div class="dropdown" style="float:left;">
        <button class="dropbtn">Theme: {{theme}}</button>
        <div class="dropdown-content" style="left:0;">
          <a (click)="setTheme('eclipse')" >eclipse</a>
          <a (click)="setTheme('monokai')">monokai</a>
        </div>
      </div>

      <input (click)="submitCode()" type="submit" value="submit" class="btn">
    </div>

  </div>

  <div id="description">
    <!-- Description of the assignment -->
    <!-- Blog entry -->


    <h2>Assignment 1</h2>

    Skriv in följande program i textrutan:

    <div id="codeExample">
      <codemirror [(ngModel)]="assignment" [config]="{lineNumbers: true, readOnly: true}"></codemirror>
    </div>
  </div>


  <div id="footer"> <input type="submit" value="Next Assignment" class="btn"></div>


</div>
</div>
