<div class="gamification-block panel panel-default" *ngIf="isEnabled() === true">
    <div class="gamification-header panel-heading">
        Leaderboard
    </div>
    <div class="panel-body leaderboard">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody *ngFor="let n of leaderList">
                <tr>
                    <td> {{n.name}} </td>
                    <td> {{n.score}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
