<div class="gamification-block panel panel-default" *ngIf="isEnabled() === true">
  <div class="panel-heading gamification-header">
    Badges
  </div>
  <div class="panel-body">
    <div *ngFor="let badge of badges">
      <div tooltip="{{badge['title']}}" class="col-lg-3 fillBadge">
        <img class="pull-left" src="../../assets/images/{{badge['icon']}}.png"/>
        <label (click)="deleteBadge(badge)" class="glyphicon glyphicon-remove delete-element"></label>
      </div>
    </div>
  </div>
</div>
