<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <span class="glyphicon glyphicon-menu-hamburger" ></span>
      </a>
      <span class="navbar-brand">Frontend</span>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">
        <span class="glyphicon glyphicon-bell"></span>
      </a></li>
      <li><a href="#">
        <span class="	glyphicon glyphicon-user"></span>
        Profil
      </a></li>
      <li><a href="#">
        <span class="glyphicon glyphicon-log-out"></span>
        Logga ut
      </a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
