
 <div class="gamification-block panel panel-default">
      <div class="panel-heading gamification-header">Map</div>
      <div class="stepwizard">
        <div class="stepwizard-row">
        	<div *ngFor="let m of assignmentz">
	        	<div class="stepwizard-step">	
	        		<button type="button" class="btn btn-primary btn-circle" (click)="getCourseElement(m)"></button>
	        	</div>
        	</div>
        </div>
      </div>
        <div>
          <!--Show name of element-->
        </div>
    </div>