<div class="gamification-block panel panel-default" *ngIf="isEnabled !== false">
  <div class="panel-heading gamification-header">Adventure Map</div>
  <div>

    <div class="panel-body text-center">
      <canvas #mapCanvas width="{{width}}" height="{{height}}" onblur="lostFocus()" onfocusout="alert(1)"></canvas>

      <div>
        <p *ngIf="selectedAssignment !== undefined">{{selectedAssignment.name}}</p>
        <p *ngIf="selectedAssignment === undefined">Select- and move your assignments by clicking on them on the map.</p>
      </div>
    </div>

  </div>
</div>
