<div class="gamification-block panel panel-default" *ngIf="isEnabled !== false">
  <div class="panel-heading gamification-header">Adventure Map</div>
  <div>

    <div class="panel-body text-center">
      <canvas #mapCanvas width="{{width}}" height="{{height}}"></canvas>

      <div>
      <p *ngIf="selectedAssignment === undefined">Pick an assignment</p>
      <button *ngIf="selectedAssignment !== undefined" type="button" class="btn" id="goToAssignment" [routerLink]="['/courses', courseCode, 'assignment', assignmentId]">{{assignmentText}}</button>
      </div>
    </div>

  </div>
</div>
