<div class="gamification-block panel panel-default" *ngIf="isEnabled !== false">
  <div class="panel-heading gamification-header">Adventure Map [{{groupIndex + 1}}]</div>
  <div>

    <div class="panel-body text-center">
      <canvas #mapCanvas width="{{width}}" height="{{height}}"></canvas>

      <div>
      <button *ngIf="assignmentGroups !== undefined" type="button" (click)="goToPreviousGroup()">Previous</button>
      <button *ngIf="assignmentGroups !== undefined" type="button" (click)="goToNextGroup()">Next</button>
      <button *ngIf="selectedAssignment === undefined" disabled="true">Pick an assignment</button>
      <button *ngIf="selectedAssignment !== undefined" type="button" class="btn" id="goToAssignment" [routerLink]="['/courses', courseCode, 'group', groupId, 'assignment', assignmentId]">{{assignmentText}}</button>
      </div>
    </div>

  </div>
</div>
