.assignmentDescription {
  margin: 1%;
  padding: 0;
  height: 500px;
  max-height: 500px;
  background-color: lightgray;
  float: left;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
  overflow: scroll;
}

label {
  font-weight: normal;
  font-size: medium;
}

.preview {
  margin: 1%;
  padding: 0;
  height: 500px;
  text-align: left;
  background-color: lightgray;
  float: left;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
  overflow: scroll;
}

.set-checkbox-margin {
  margin-top: 5%;
  margin-left: -2em;
}

.set-margin {
  margin-top: 38em;
  margin-bottom: 5%;
  margin-left: 2%;
}

.required {
  color: red;
  font-size: medium;
}
