.img-circle {
  border-radius: 50%;
}
.userlinks {
  /*text-decoration: none;
  color: #343434;*/
  cursor: pointer;
}
/*
body{
  font-family: Verdana, Geneva, sans-serif;
  font-size: medium;
  color: #343434;
}

.center {
  text-align: center;
}





a:hover {
  color: grey;
  cursor: pointer;
}*/
