.pointer {
  cursor: pointer;
}

.img-center {
  display: block;
  margin: auto;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userlinks {
  /*text-decoration: none;
  color: #343434;*/
  cursor: pointer;
}

.glyph-accept {
  color: darkgreen;
  background: none;
  border: none;
}

.glyph-decline {
  color: darkred;
  background: none;
  border: none;
}

.gamification-block {
  background-color: rgba(29, 117, 175, 0.27);
  width: 95%;
}

.gamification-header {
   background-color: #133756;
   color: white;
   font-weight: bold;
}

.assignment {
  background-color: #f5f5f5;
  border-radius: 0.5em;
  padding: 5%;
  margin-left: 0.5em;
  font-weight: bold;
}

.course-list {
  margin-bottom: 10px;
  background-color: rgba(29,117,175,0.27);
}

.custom-well {
}

.right-buttons {
  float: right;
}
