<app-head></app-head>

<div id="cont" class="content" [@content]="sidebarState">
  <button class="btn" (click)="openModal(courseModal)">Create course</button>
  <!--<p><a class="userlinks" (click)="toggleStatistics()">Statistics</a></p>-->
  <button type="button" class="btn" (click)="getMe()">test getMe</button>

  <div class="container">
    <div class="row">
      <div class="container">
        <!-- Title -->
        <h2>Latest</h2>
        <!-- The head panel -->
        <div class="gamification-block shadow panel panel-default" *ngFor="let course of courses">
          <div class="panel-heading gamification-header">
            <!-- Course panel title -->
            <div [routerLink]="['/courses', course.code]" class="pointer"><h4>{{course.code}} - {{course.name}}</h4></div>
          </div>
          <!-- 'Main' body panel -->
          <div class="panel-body">
            <div *ngIf="course.rewards.badges != false" class="col-md-3" style="padding-left: 2em;">
              <!-- Panel for badge start -->
              <div class="gamification-block panel panel-default">
                <div class="panel-heading gamification-header">
                  Badge
                </div>
                <div class="panel-body">
                  <img class="img-center" src="../../assets/images/{{course.rewards.badges[course.rewards.badges.length - 1]}}.png">
                </div>
              </div>
              <!-- Panel for badge end -->
            </div>
            <div class="col-md-5">
              <app-mod-progressbar [progress]="course.rewards.progress"></app-mod-progressbar>
              <!-- Assignment panel start -->
              <div class="gamification-block panel panel-default">
                <div class="panel-heading gamification-header">
                  Current Assignment
                </div>
                <div class="panel-body">
                  <div class="assignment">Assignment 1</div>
                </div>
              </div>
              <!-- Assignment panel start -->
            </div>
            <!-- column for progress and assignment end -->
            <div class="col-md-4">
              <!-- TODO: app-mod-leaderboard should be subclassed for this view -->
              <app-mod-leaderboard></app-mod-leaderboard> <!-- this should be related to the assignment, so should probably have some kind of input -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-statistics *ngIf="statistics"></app-statistics>

</div>

<ng-template #courseModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create course</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="createCourse()" [formGroup]="form" novalidate>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Course name</label>
        <input type="text" class="form-control" id="name" formControlName="name" ngModel required>
      </div>

      <div class="form-group">
        <label for="code">Course code</label>
        <input type="text" class="form-control" id="code" formControlName="code" ngModel required>
      </div>

      <div class="form-group">
        <label for="course_info">Course info</label>
        <input type="text" class="form-control" id="course_info" formControlName="course_info" ngModel required>
      </div>
      <hr>
      <label>Gamification elements</label>
      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="progress" ngModel> Progress
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="score" ngModel> Score
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="badges" ngModel> Badges
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="leaderboard" ngModel> Leaderboard
        </label>

      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn" (click)="modalRef.hide()">Submit</button>

    </div>
  </form>
</ng-template>
