<app-head></app-head>
<div id="cont" class="content" [@content]="sidebarState">
  <div class="container">
    <h1>
      <span *ngIf="currentCourse.code">{{currentCourse.code}} - </span> {{currentCourse.name}}
    </h1>
    <button type="button" class="btn btn-primary" (click)="openModal(createBadge, 'createBadge')">Create badge</button>
    <div class="row">
      <!-- Display the course description, markdown style -->
      <div class="col-lg-8">
        <h3>Course
          <button type="button" class="glyph-button" [routerLink]="['/user/updateCourse', currentCourse.id]">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </h3>
        <markdown [data]="currentCourse.course_info"></markdown>
        <br>
        <h3>Assignments</h3>
        <div class="row wrapper">
          <div class="col-lg-6 bottom-margin container">
            <h4>Groups
              <button (click)="openModal(createGroup, 'createGroup')" class="glyph-button pull-right">
                <span class="option-text">CREATE GROUP</span>
              </button>
            </h4>
            <span *ngIf="groups.length === 0">
              No groups created yet...
            </span>
          <div *ngFor="let group of groups" class="well">
            <div dragula="bag-one" id="left{{group.name}}" [dragulaModel]='group.assignments'>
              {{group.name}}
              <div *ngFor='let assignment of group.assignments' class="assignment">
                {{assignment.name}}
                <button type="button" class="glyph-button white-text pull-right">
                  <span class="glyphicon glyphicon-edit" style="font-size: 1.2em;"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6container">
          <h4>Assignments
            <button class="glyph-button pull-right" [routerLink]="['/courses', currentCourse.id, 'createNewAssignment']">
              <span class="option-text">CREATE ASSIGNMENT</span>
            </button>
          </h4>
          <span *ngIf="assignmentGroups[0].assignments.length === 0">
              No assignments created yet...
            </span>
            <div dragula="bag-one" id="right" [dragulaModel]='assignmentGroups[0].assignments'>
            <div *ngFor="let assignment of assignmentGroups[0].assignments" class="assignment">
              {{assignment.name}}
              <button type="button" class="glyph-button white-text pull-right">
                <span class="glyphicon glyphicon-edit" style="font-size: 1.2em;"></span>
              </button>
            </div>
            </div>
          </div>
        </div>
        <span *ngIf="currentCourse.enabled_features.adventuremap">
        <app-mod-adventuremap-editor [courseCode]="currentCourse.id"></app-mod-adventuremap-editor>
      </span>
      </div>
      <div class="col-lg-4">
        <h4>Pending requests
          <button class="glyph-button pull-right" (click)="acceptAllReqs()">
            <span class="table-button-text">ACCEPT ALL</span>
          </button>
        </h4>
        <table class="table table-hover">
          <tbody>
          <tr *ngIf="pendingReqs && pendingReqs.length === 0">
            <td>No pending requests...</td>
          </tr>
          <tr *ngFor="let req of pendingReqs">
            <td>{{req.user['username']}}</td>
            <td>
              <button type="button" class="glyph-accept" (click)="acceptReq(req.user['_id'])"><span
                class="glyphicon glyphicon-ok"></span></button>
            </td>
            <td>
              <button type="button" class="glyph-decline" (click)="declineReq(req.user['_id'])"><span
                class="glyphicon glyphicon-remove"></span></button>
            </td>
          </tr>
          </tbody>
        </table>
        <br>
        <h4>Enrolled students
          <button class="glyph-button pull-right" (click)="openModal(inviteStudentModal)">
            <span class="table-button-text">ADD STUDENT</span>
          </button>
        </h4>
        <table class="table table-hover">
          <tbody>
          <tr *ngIf="students.length === 0">
            <td>No students are enrolled to this course...</td>
          </tr>
          <tr *ngFor="let student of students">
            <td>{{student.user.username}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- for end row -->
  </div>
</div>

<!-- MODALS -->
<!-- Modal for invitation of student to course -->
<ng-template #inviteStudentModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Invite students</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <form (ngSubmit)="search()" [formGroup]="form" novalidate>
        <div class="form-group">
          <label for="search">Search term</label>
          <input type="text" class="form-control" id="search" formControlName="search" ngModel required>
        </div>
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
    <br>
    <div>
      <label> generate invite link </label>
      <div>
        <button class="btn" (click)="generateInviteLink()">Create invite link</button>
      </div>
      <br>
      <div>
        <form>
          <input type="text" class="form-control" id="inviteLink" value="{{inviteLink}}" readonly>
        </form>
      </div>

    </div>
  </div>
  <div class="modal-body">
    <div class="well-sm user-list" *ngFor="let p of possibleStudents">
      <div class="row">
        <div class="col-md-10">
          <h4>{{p.name}}</h4>
        </div>
        <div class="col-md-2">
          <button class="btn" (click)="invite(p.id)">Invite</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<ng-template #createBadge>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create badge</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Select badge</h3>
    <div class="form-group">
      <select class="form-control" [(ngModel)]="selectedBadge">
        <option *ngFor="let badge of badges" [ngValue]="badge['key']">{{badge['name']}}</option>
      </select>
    </div>
    <div>
      <img src="../../assets/images/{{selectedBadge}}.png"/>
    </div>
    <label for="name">Name:</label>
    <input id="name" type="text" class="form-control" [(ngModel)]="badgeName">
    <label for="description">Description:</label>
    <input id="description" type="text" class="form-control" [(ngModel)]="badgeDescription">
    <h3>
      Add goals
    </h3>
    <div class="form-group">
      <div class="select-block" *ngFor="let selected of selectedAssignments; let i = index">
        <button class="glyphicon glyphicon-minus btn btn-danger select-remove" (click)="removeGoal(i)"></button>
        <select class="form-control select-list" [(ngModel)]="selectedAssignments[i]['assignment']">
          <option *ngFor="let assignment of selected['possible']" [ngValue]="assignment">{{assignment.name}}</option>
        </select>
        <div class="tests row">
          <div *ngIf="selected.assignment">
            <div *ngFor="let test of tests[selected.assignment['id']]; let j = index" class="pull-left test-box">
              <label class="label-norm form-check-label">
                <input class="form-check-input" [(ngModel)]="test['checked']" type="checkbox"> Test {{j+1}}
                <label type="button" class="question"
                       tooltip="Stdin: {{test['stdin']}}, Stdout: {{test['stdout']}}, Args: {{test['args']}}">
                  <span class="glyphicon glyphicon-question-sign"></span></label>
              </label>
            </div>
          </div>
        </div>
        <div class="row"></div>
      </div>
      <button class="glyphicon glyphicon-plus btn btn-success" (click)="addGoal()"></button>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-right" (click)="submitBadge()">Submit</button>
  </div>
</ng-template>

<!-- Modal for creation of assignment group -->
<ng-template #createGroup>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create assignment group</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="groupName">Group name</label>
      <input type="text" class="form-control" id="groupName" [(ngModel)]="groupName">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="createAssignmentGroup()" type="submit">Submit</button>
  </div>
</ng-template>
