<div class="container">
  <div class="row">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
      <ul class="event-list">
        <li *ngFor="let course of courses">
          <div [routerLink]="['/courses', course.name]" class="latestBadge">
            <span class="badgeTitle">Latest badge</span>
            <div class="badge fillBadge">
              <span class="glyphicon customGlyph" [ngClass]="{'glyphicon-star': course.latestBadge == 'star' ,
              'glyphicon-wrench': course.latestBadge == 'wrench', 'glyphicon-flash': course.latestBadge == 'flash'}"></span>
            </div>
          </div>
          <div [routerLink]="['/courses', course.name]" class="info">
            <h2 class="title">{{ course.code }}</h2>
            <p class="desc">{{ course.name }}</p>
            <div class="progress progress-margin">
              <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="course.progress" aria-valuemin="0" aria-valuemax ="100"
                   [style.width]="course.progress*100 + '%'">
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>
