<div class="container">
  <div class="jumbotron login">
    <form>
      <div class="form-group">
        <label for="userName">User:</label>
        <input [(ngModel)]="user.id" type="string" class="form-control" id="userName" name="user">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <button routerLink='/user' type="submit" class="btn">Login</button>
        <!-- service= Länk till sidan CAS redirectar till efter LTU login, ska vara till vår backend för att få token-->
          <a href="http://130.240.5.119:8000/auth/login/ltu" class="btn glyphicon glyphicon-user"> CAS</a>
        <a href="https://weblogon.ltu.se/cas/login?service=http://127.0.0.1:4200/auth"> CAS via url param</a>
        <a href="http://130.240.5.119:8000/api/login/bosse?bosse=/user"> Bosse </a>
        <button (click)="requestToken()" > api/users/me </button>
        <button (click)="getToken()" > getToken </button>
      </div>
    </form>
  </div>
</div>
