<div class="container">
  <div class="jumbotron login">
    <form>
      <div class="form-group">
        <!-- service= Länk till sidan CAS redirectar till efter LTU login, ska vara till vår backend för att få token
          <a href="https://weblogon.ltu.se/cas/login?service={{ frontend_ip }}/auth?test=hej" class="btn glyphicon glyphicon-user"> CAS</a> -->
        <div class="text-center">
          <button type="button" (click)="casLogin()" class="btn btn-lg">LTU CAS Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
