<div class="container">
  <div class="jumbotron login">
    <form>
      <div class="form-group">
        <label for="userName">User:</label>
        <input type="string" class="form-control" id="userName" name="user">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Login</button>
      </div>
    </form>
  </div>
</div>
