  <div class="gamification-block panel panel-default" *ngIf="isEnabled !== false">
    <div class="panel-heading gamification-header">
      Progress
    </div>
    <div class="panel-body">
      <div class="progress progress-margin">
        <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="currentAssignments"
                                  aria-valuemin="0" aria-valuemax ="maxAssignments"
                                  [style.width]="progress + '%'">
          {{currentAssignments}}/{{maxAssignments}}
        </div>
      </div>
    </div>
  </div>
