<app-head></app-head>

<div id="cont" class="content" [@content]="sidebarState">
  <div class="container">
    <h2>Create Assignment</h2>
    <div class="form-group">

      <h4>Assignment name:</h4>
      <input (text)="assignmentName" class="form-control" placeholder="Hello Assignment" [(ngModel)]="assignmentName">
      <input type="checkbox" name="linttest" (click)="testLint()" class="question" tooltip="asd">Test code syntax using lint
      <button type="button" class="question" tooltip="Test code syntax using lint"><span class="glyphicon glyphicon-question-sign"></span></button>
    </div>

    <div id="desc">
      <h4>Description</h4>

      <tabset>
        <tab heading="Write" id="tab1">
        <div class="assignmentDescription" appScroller>
          <!-- Ace Editor for the assignment body -->

          <div ace-editor [(text)]="content" [mode]="'markdown'" [theme]="'eclipse'"
            [options]="{maxLines: 1000, printMargin: false}" [readOnly]="false" [autoUpdateContent]="true"
            [durationBeforeCallback]="1000"(textChanged)="onChange(content)" 
            style="min-height: 500px; width:100%; overflow: auto;"></div>
        </div>
        </tab>
        <tab heading="Preview">
          <!-- Markdown preview -->

          <div class="preview" appScroller>
            <div Markdown [data]="content" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css"></div>
          </div>
        </tab>
      </tabset>
    </div>

    <div>
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown guide</a>
    </div>

    <div id="addTests">
      <h4>Code tests</h4>
      <button class="btn btn-primary" (click)="openModal(testModal)">Add Test</button>
    </div>

    <!-- Test editing section -->
    <div *ngFor='let fb of unitTests' id="test">
      <div id="testInfo">
        <h4>{{fb[0]}} Test</h4>
        <div *ngIf="fb[1]"> Input: {{fb[1]}} </div>
        <div *ngIf="fb[2]"> Output: {{fb[2]}} </div>
      </div>
      <div id="testEdit">
        <div style="align:right">
          <button class="btn btn-primary" (click)="openModalEdit(editTest); testType=fb[0]; editT=unitTests.indexOf(fb)">Edit test</button>
        </div>
      </div>
    </div>

    <div id="footer">
      <button class="btn btn-primary" (click)="submitNewAssignment()">Submit Assignment</button>
    </div>

  </div>
</div>


<ng-template #testModal>
  <!-- A modal dialog for creating and modifying tests -->

  <div class="modal-header">
    <h4 class="modal-title pull-left">Add I/O Test to assignment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="createTest()" [formGroup]="form" novalidate>
    <div class="modal-body">
      <div class="form-group">
        <h4>Input</h4>
        <textarea type="text" class="form-control" id="ioInput" formControlName="ioInput" ngModel required></textarea>
      </div>

      <div class="form-group">
        <h4>Output</h4>
        <textarea type="text" class="form-control" id="ioOutput" formControlName="ioOutput" ngModel required></textarea>
      </div>
      <hr>


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn" (click)="modalRef.hide()">Submit</button>
    </div>

  </form>
</ng-template>

<ng-template #editTest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Test</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="editExistingTest(editT)" [formGroup]="form" novalidate>
    <div class="modal-body">
      <div class="form-group" *ngIf="testIo()">
        <h4>Input</h4>
        <input type="text" class="form-control" id="ioInput2" formControlName="ioInput" ngModel required>
      </div>

      <div class="form-group" *ngIf="testIo()">
        <h4>Output</h4>
        <textarea type="text" class="form-control" id="ioOutput2" formControlName="ioOutput" ngModel required></textarea>
      </div>
      <hr>


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn" (click)="modalRef.hide()">Submit</button>
    </div>

  </form>
</ng-template>

<ng-template #markdownTutorial>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Markdown guide</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div id="markdownGuide">
    <markdown [data]="markdownExampleCode"></markdown>
  </div>
</ng-template>
