<app-head></app-head>

<div id="cont" class="content" [@content]="sidebarState">

  <div id="difficulty">
    Assignment name:
    <div>
      <input (text)="assignmentName" style="color:black; font-weight: normal" [(ngModel)]="assignmentName">
    </div>
  </div>
  <label class="label-norm form-check-label">
    <span style="display:inline-block; width: 0.5em;"></span> <input class="form-check-input" formControlName="map" type="checkbox"> Adventure map
    <button type="button" class="lint" tooltip="lint enabled for testing"><span class="glyphicon glyphicon-question-sign"></span></button>
  </label>
  <!--
  <div id="assignmentDescription" appScroller>
    <div ace-editor [(text)]="content" [mode]="'markdown'" [theme]="'eclipse'" [options]="{maxLines: 1000, printMargin: false}" [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000"(textChanged)="onChange(content)"  style="min-height: 100%; width:100%; overflow: auto;">
    </div>
  </div>
  <div id="preview" appScroller>
    <div Markdown [data]="content" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css"></div>
  </div>
  -->
  <div id="desc">
    <tabset>
      <tab heading="Write" id="tab1">
        <div class="assignmentDescription" appScroller>
          <div ace-editor [(text)]="content" [mode]="'markdown'" [theme]="'eclipse'" [options]="{maxLines: 1000, printMargin: false}" [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000"(textChanged)="onChange(content)"  style="min-height: 500px; width:100%; overflow: auto;"></div>
        </div>
      </tab>
      <tab heading="Preview">
        <div class="preview" appScroller>
          <div Markdown [data]="content" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css"></div>
        </div>
      </tab>
    </tabset>
  </div>

  <div>
    <!--<button class="btn" (click)="openModal(markdownTutorial)">markdown guide</button>-->

    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown guide</a>

  </div>

  <div id="addTests">
    <button class="btn" (click)="openModal(testModal)">Add Test</button>
  </div>

  <div *ngFor='let fb of unitTests' id="test">
    <div id="testInfo">
      <h4>{{fb[0]}} Test</h4>
      <div *ngIf="fb[1]"> Input: {{fb[1]}} </div>
      <div *ngIf="fb[2]"> Output: {{fb[2]}} </div>
    </div>
    <div id="testEdit">
      <div style="align:right">
        <button class="btn" (click)="openModalEdit(editTest); testType=fb[0]; editT=unitTests.indexOf(fb)">Edit test</button>
      </div>
    </div>
  </div>
  <!--
     <h4>{{fb}} test</h4>

<div class="dropdown" style="float:left;">
      <button class="dropbtn">Add tests</button>
      <div class="dropdown-content" style="left:0;">
        <a (click)="addTest('io')">I/O test</a>
        <a (click)="addTest('lint')">Lint test</a>
        <a (click)="addTest('codeSize')">CodeSize test</a>
      </div>
    </div>
  -->

</div>
<div id="footer">
  <button class="btn" (click)="submitNewAssignment()">Submit Assignment</button>
</div>


<ng-template #testModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add I/O Test to assignment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="createTest()" [formGroup]="form" novalidate>
    <div class="modal-body">
      <div class="form-group">
        <h4>Input</h4>
        <textarea type="text" class="form-control" id="ioInput" formControlName="ioInput" ngModel required></textarea>
      </div>

      <div class="form-group">
        <h4>Output</h4>
        <textarea type="text" class="form-control" id="ioOutput" formControlName="ioOutput" ngModel required></textarea>
      </div>
      <hr>


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn" (click)="modalRef.hide()">Submit</button>
    </div>

  </form>
</ng-template>

<ng-template #editTest>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Test</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="editExistingTest(editT)" [formGroup]="form" novalidate>
    <div class="modal-body">
      <div class="form-group" *ngIf="testIo()">
        <h4>Input</h4>
        <input type="text" class="form-control" id="ioInput2" formControlName="ioInput" ngModel required>
      </div>

      <div class="form-group" *ngIf="testIo()">
        <h4>Output</h4>
        <input type="text" class="form-control" id="ioOutput2" formControlName="ioOutput" ngModel required>
      </div>
      <hr>


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn" (click)="modalRef.hide()">Submit</button>
    </div>

  </form>
</ng-template>

<ng-template #markdownTutorial>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Markdown guide</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div id="markdownGuide">
    <markdown [data]="markdownExampleCode"></markdown>
  </div>
</ng-template>
