#difficulty {
  background-color: #133756;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 12px 16px;
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
}

#assignmentDescription {
  margin: 1%;
  padding: 0;
  height: 500px;
  max-height: 500px;
  background-color: lightgray;
  float: left;
  width: 48%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
  overflow: scroll;
}

#preview {
  margin: 1%;
  padding: 0;
  height: 500px;
  text-align: left;
  background-color: lightgray;
  float: left;
  width: 48%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
  overflow: scroll;
}

#addTests {
  margin: 1%;
  padding: 0;
  height: 100%;
  text-align: left;
  float: left;
  width: 78%;
}

#test {
  margin: 1%;
  height: 100%;
  text-align: left;
  padding: 12px 16px;
  background-color: lightgray;
  float: left;
  width: 78%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
}

#testInfo {
  float: left;
}

#testEdit {
  float: right;
}

.dropbtn {
  background-color: #133756;
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

#header, #footer {
  text-align: center;
  padding: 1em;
  color: white;
  background-color: #133756;
  clear: left;
  text-align: center;
}

#markdownGuide {
  margin: 1em;
  height: 500px;
  max-height: 500px;
  overflow: scroll;
}
