.gamification-header {
  background-color: #133756;
  color: white;
  font-weight: bold;
}

.assignment-header {
  background-color: #133756;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.gamification-block {
  background-color: rgba(29, 117, 175, 0.27);
  margin-right: 5%;
  margin-left: 5%;
}

.assignment {
  cursor: pointer;
  font-weight: bold;
}
