<div class="gamification-block panel panel-default">
  <div class="panel-heading assignment-header" (click)="assignmentGroup.collapse = !assignmentGroup.collapse">
    {{assignmentGroup.name}}
  </div>
  <div class="panel-body" [collapse]="assignmentGroup.collapse">
    <div [routerLink]="['/courses', courseCode, 'assignment']" *ngFor="let a of assignmentGroup.assignments" class="assignment well">
      {{a.name}}
    </div>
  </div>
  <div *ngFor="let g of assignmentGroup.groups">
    <app-assignment-group *ngIf="!assignmentGroup.collapse" [assignmentGroup]="g" [courseCode]="courseCode"></app-assignment-group>
  </div>
</div>
