<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <button type="button" class="menubtn" (click)="toggleState($event)">
          <span class="glyphicon glyphicon-menu-hamburger" ></span></button>
      </a>
      <span class="navbar-brand">Frontend</span>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a>
        <span class="glyphicon glyphicon-bell"></span>
      </a></li>
      <li (click)="toggleUserDropDown($event)"><a> <!-- [routerLinkActive]="['active']" -->
        <span class="glyphicon glyphicon-user"></span>
        {{user.firstName}} {{user.lastName}}
        <label *ngIf="isDropDown()"><span class="glyphicon glyphicon-menu-up"></span></label>
        <label *ngIf="!isDropDown()"><span class="glyphicon glyphicon-menu-down"></span></label>
        <div class="userDropBox" [@userDropBox]="stateDropDown"> <!-- [style.display]="isDropDown() ? 'block': 'none'" -->
          <div class="userOption" [@userOption]="stateDropDown" routerLink="/user">
            <span class="glyphicon glyphicon-user"></span> <span style="display:inline-block; width: 0.5em;"></span>
            <a class="linkDropbox">Profile</a> <!-- (click)="profileModal.show()" -->
          </div>
          <div class="userOption" [@userOption]="stateDropDown">
            <span class="glyphicon glyphicon-edit"></span> <span style="display:inline-block; width: 0.5em;"></span> Statistics
          </div>
          <div class="userOption" [@userOption]="stateDropDown">
            <span class="glyphicon glyphicon-cog"></span> <span style="display:inline-block; width: 0.5em;"></span> Settings
          </div>
          <div class="userOption" [@userOption]="stateDropDown" routerLink="/">
            <span class="glyphicon glyphicon-log-out"></span> <span style="display:inline-block; width: 0.5em;"></span>
            <a class="linkDropbox" (click)="resetSidebar()">Log out</a>
          </div>
        </div>
      </a></li>
    </ul>
  </div>
</nav>

<div class="modal fade" bsModal #profileModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Profile</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="profileModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Some profile information might be needed here
        Or something.
      </div>
    </div>
  </div>
</div>




