/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root { /* global varibles */
  --wSidebar: 15%;
}

body {
  color: black;
  padding-top: 30px;
}

.content {
  margin-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 30px; /* need this because we have a fixed navbar on top */
  width: 100%;
  float: left;
  margin-left: var(--wSidebar);
}

/* the menu button for the sidebar */
.menubtn, .menubtn:active, .menubtn:focus {
  background: none;
  border-style: none;
  outline: 0;
}

/* overall buttons */
.btn-primary {
  background-color: #133756;
  border-style: none;
  color: white;
  transition: background-color 0.5s ease-out,
              color 0.5s ease-out;
  padding: 0.7em;
}

.btn-primary:hover {
  color: grey;
  background-color: #0f2837;
}

.btn-primary:focus {
  color: white;
  border-style: none;
}

/* Pills modification */
.nav-pills > li > a {
  color: white;
  transition: background-color 0.5s ease-out,
              color 0.5s ease-out,
              margin 0.2s ease-out;
  border: none;
  background-color: #133756;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav-pills > li > a:hover {
  color: white;
  background-color: #0f2837;
  margin-right: 1em;
  border: none;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
  margin-right: 1em;
  color: darkgray;
  background-color: #133756;
  border: none;
}

/* navbar Default modifications down below*/
.navbar-default {
  background-color: #133756;
  border-radius: 0px;
  border: none;
  margin-bottom: 0;
}
/* navbar Title */
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
  cursor: pointer;
}

/* navbar Link */
.navbar-default .navbar-nav > li > a {
  color: white;
  border-style: solid;
  border-color: #133756;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: 0;
  transition: background-color 0.5s ease-out,
              border 0.5s ease-out,
              margin 0.2s ease-out;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #0f2837;
  color: white;
  cursor: pointer;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #133756;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
}
